
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
  
}



.texto-informacion{

width: 80%;
margin: auto;
padding-left: 10px;
padding-right: 10px;

}

hr{
border:1px rgba(107, 205, 238, 0.993) solid;
}





/*--------------------------HEADER CON MENU--------------------------------*/
header{
  width: 100%;
  height: 100vh;
  background-image: url(../IMG/prueba.jpg);
 
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: static;
  
 
  
}

  

nav{
  
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  

}

.logo{
  width: 70px;
  margin-left: 60px;
  margin-top: 10px;

}

.bar-btn{
  font-size: 25px;
  color: #001F54;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: /*rgba(99, 97, 97, 0.8)*/ lightblue;   
  transition: all .3s;
  text-align: center;
}

.nav-menu li{
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;

}

.nav-menu li a{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #186fe0;

}


.nav-menu li a.active, .nav-menu li a:hover{
  color: #6692CC;
  border-bottom: 1px solid #6692CC;
  transition: .3s;
}

.nav-menu li a.active:hover{
  color: #6692CC;
  transition: .3s;
}

#check{
  display: none;
  
}

#check:checked ~ .nav-menu{
  height: 100vh;
  z-index: 1;
  transition: .1s;
}


#check:checked ~ .nav-menu li{
  display: block;
}




/*----------------TITULO E IMAGEN--------------*/
.dielmod{
width: 100px;
margin-bottom: 20px;

}

.texto-centro{
padding: 0 30px;
margin-top: 30px;
text-align: center;
color: #186fe0;
}

.texto-centro h3{
font-size: 40px;
margin-bottom: 3px;
}

.texto-centro h2{
font-size: 20px;
font-weight: 600;
}

.boton1{
margin-right: 30px;
padding: 10px 30px;
background-color: #186fe0;
color: white;
border-radius: 5px;
}

.boton1:hover{
background-color: white;
color: #186fe0;
transition: .3s;
}

.boton2{
margin-right: 30px;
padding: 10px 30px;
background-color: white;
color: #186fe0;
border-radius: 5px;
}

.boton2:hover{
background-color: #186fe0;
color: white;
transition: .3s;
}





/*----------------FLECHA ABAJO---------------*/

.arrow,
.arrow:before{

position: absolute;
left: 50%;
text-align: center;

}

.arrow{
width: 40px;
height: 40px;
top: 90%;
margin: -20px 0 0 -20px;

-webkit-transform: rotate(45deg);
border-left: none;
border-top: none;
border-right: 2px #186fe0 solid;
border-bottom: 2px #186fe0 solid;
cursor: pointer;
transition: .5s;
}

.arrow:before{
content: '';

width: 20px;
height: 20px;
top: 50%;
margin: -10px 0 0 -10px;
border-left: none;
border-top: none;
border-right: 1px #186fe0 solid;
border-bottom: 1px #186fe0 solid;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-name: arrow;

}

@keyframes arrow{
  0%{
      opacity: 1;

  }

  100%{
      opacity: 0;
      transform: translate(-10px, -10px);
  }
}


.titulo1{
text-align: center;
margin-top: 35px;
/*color: #186fe0;*/
}





/*------------------GALERIA------------------*/

.img {
  width: 100%; 
  height: auto;
}
h2 {
  margin-bottom: 1.5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  margin: 25px;
}

.grid2-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1em;
  
  text-align: center;
  margin-left: 19.5%;
  margin-right: 19.5%;
  margin-bottom: 3%;
}


.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}



.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: #186fe060;
  color: white;                                    
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-title i{
  font-size: 45px;
  color: white;
}


.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}



.preguntas a{
color: #186fe0;

}



.texto-informacion{
  
  width: 80%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  
}

/*------------------CAROUSEL------------------*/

.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
  
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 50%;
  height: 22vw;
  z-index: 0;
  scrollbar-shadow-color: #001F54;
}

.gallery-item-1 {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  
  opacity: 1;
  width: 50%;
  height: 22vw;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  color: #186fe0;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
  color: #186fe0;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-Anterior {
  position: relative;
}

.gallery-controls-Anterior::before { 
  border: solid #186fe0;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 15%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-Anterior:hover::before {
  left: -18px;
}

.gallery-controls-Siguiente {
  position: relative;
}

.gallery-controls-Siguiente::before {
  border: solid #186fe0;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-Siguiente:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}













/*-----------------Celulares------------------*/
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}


@media screen  and (min-width: 800px) {
  .logo{
      margin-left: 50px;

  }
  nav{
      height: 130px;
  }

  .bar-btn{
      display: none;
  }
  
  .nav-menu{
      position: relative;
      height: 100px;
      top: 0;
      background: none;
      transition: none;
      text-align: right;
      margin-right: 50px;

  }
  .nav-menu li{
      display: inline-block;
      line-height: 100px;
      margin: 0 20px;
      transition: none;
  }

  .nav-menu li a{
      font-size: 13px;
  }

  .label{
    height: auto;
  }

  
}









