*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    
}



.texto-informacion{
  
  width: 80%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  
}

hr{
  border: 1px #18a1e0 solid;
}






body{
  background-image: url(../IMG/prueba.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;


}

/*--------------------------HEADER CON MENU--------------------------------*/
header{
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/prueba.jpg);
   
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: static;
    
   
    
}

    

nav{
    
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    

}

.logo{
    width: 70px;
    margin-left: 60px;
    margin-top: 10px;
    
}

.bar-btn{
    font-size: 25px;
    color: #001F54;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: /*rgba(99, 97, 97, 0.8)*/ #186fe0;   
    transition: all .3s;
    text-align: center;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;

}

.nav-menu li a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #001F54;

}


.nav-menu li a.active, .nav-menu li a:hover{
    color: #6692CC;
    border-bottom: 1px solid #6692CC;
    transition: .3s;
}

.nav-menu li a.active:hover{
    color: #6692CC;
    transition: .3s;
}

#check{
    display: none;
    
}

#check:checked ~ .nav-menu{
    height: 100vh;
    z-index: 1;
    transition: .1s;
}


#check:checked ~ .nav-menu li{
    display: block;
}




/*----------------TITULO E IMAGEN--------------*/
.dielmod{
  width: 100px;
  
}


.texto-centro{
  padding: 0 30px;
  margin-top: 90px;
  text-align: center;
  color: #186fe0;
}

.texto-centro h3{
  font-size: 40px;
  margin-bottom: 30px;
}

.texto-centro h2{
  font-size: 20px;
  font-weight: 600;
}

.boton1{
  margin-right: 30px;
  padding: 10px 30px;
  background-color: #186fe0;
  color: white;
  border-radius: 5px;
}

.boton1:hover{
  background-color: white;
  color: #186fe0;
  transition: .3s;
}

.boton2{
  margin-right: 30px;
  padding: 10px 30px;
  background-color: white;
  color: #186fe0;
  border-radius: 5px;
}

.boton2:hover{
  background-color: #186fe0;
  color: white;
  transition: .3s;
}





/*----------------FLECHA ABAJO---------------*/

.arrow,
.arrow:before{

  position: absolute;
  left: 50%;
  text-align: center;

}

.arrow{
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #186fe0 solid;
  border-bottom: 2px #186fe0 solid;
  cursor: pointer;
  transition: .5s;
}
  
.arrow:before{
  content: '';
  
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #186fe0 solid;
  border-bottom: 1px #186fe0 solid;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: arrow;

}

@keyframes arrow{
    0%{
        opacity: 1;

    }

    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}


.titulo1{
  text-align: center;
  margin-top: 35px;
  /*color: #186fe0;*/
}





/*------------------GALERIA------------------*/

.img {
    width: 100%; 
    height: auto;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    margin: 25px;
  }

  .grid2-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    
    
    margin-left: 16.66%;
    margin-right: 16.66%;
    margin-bottom: 30px;
    
  }
  
  
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: #186fe060;
    color: white;                                    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .location-title i{
    font-size: 45px;
    color: white;
  }

  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  

  
.preguntas a{
  color: #186fe0;

}












 
  /*-----------------Celulares------------------*/
  
  @media screen  and (max-width: 800px) { 
    

    .grid-container {
      
      grid-template-columns: repeat(1,1fr);
     
    }
  
    .grid2-container {
      
      grid-template-columns: repeat(1,1fr);
      width: 66.66%; 
      height: auto;
      
      
     
    }
    
    .grid2-container article{
      
      width: 132%;
      height: auto;
      
      
     
    }

    


  }





/*------------------PREGUNTAS FERCUEN------------*/

.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 5vh auto;
  background: white;
  border-radius: 5px;
  
}



.input {
  display: none;
}

.label {
  display: flex;
  width: 100%;
  height: 100px;
  cursor: pointer;
  border: 3px solid #186fe0;
  user-select: none;
  
}

.label:hover{
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  
  transition: 0.5s;
}



.label div:first-child {
  width: 100%;
  line-height: 45px;
  margin-left: 10px;
  font-size: 1em;
}

.cross{
  margin-right:15px;
  margin-top:3px;
}

.cross:before,.cross:after {
  content: '';
  border-top: 3px solid #186fe0;
  width: 15px;
  display: block;
  margin-top: 18px;
  transition: 0.3s;
}

.cross:after {
  transform: rotate(90deg);
  margin-top: -2px;
}

.content {
  box-sizing: border-box;
  font-size: 0.9em;
  margin: 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
  
}

.input:checked ~ .content {
  max-height: 400px;
  transition: max-height, 1s;
}

.input:checked ~ .label .cross:before {
  transform: rotate(180deg);

}

.input:checked ~ .label .cross:after {
  transform: rotate(0deg);
  
}

.questions{
  margin-top:20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
}

.questions .label{
  border:none;
  box-shadow: none;
  margin:0;
}

.input:checked ~ .questions {
  max-height: 400px;
  transition: 0.5s;
  
}








/*-----------------APARTADO DE MAIL---------------------*/

* {
  box-sizing: border-box;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #186fe0;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #186fe0;
  border-radius: 4px;
  resize: vertical;
}



input[type=submit] {
  background-color: #001F54;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #186fe0;
  transition: .5s;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------RESPONSIVE-----------------*/

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}













































@media screen  and (min-width: 800px) {
    .logo{
        margin-left: 50px;

    }
    nav{
        height: 130px;
    }

    .bar-btn{
        display: none;
    }
    
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;

    }
    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 13px;
    }

    .label{
      height: auto;
    }



   

    
}





@media screen  and (max-width: 800px){



  .label{
    height: auto;
  }


  .dielmod{
    width: 150px;
    margin-bottom: 20px;
    
  }
  
  .texto-centro{
   
    margin-top: 100px;
    margin-left: 40px;
  }

  .texto-centro h3{
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .texto-centro h2{
    font-size: 15px;
    font-weight: 600;
  }

  .texto-centro img{
    width: 70px;
  }

  .boton1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .boton2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
  }
  






}






















































